#############################################
# compiled from github.com/github/gitignore #
#############################################

### Custom ###
*.db
*.sqlite*
.byebug_history

### OSX ###

.DS_Store

## Webpack:


### Node ###

# Logs
logs
*.log
npm-debug.log*


# Dependency directory
node_modules/
