body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  background: #eee;
}

.header {
  border-bottom: 1px solid #ccc;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.header-logo{
  font-size: 30px;
}
