

.header {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 900px;
  flex-direction: column;
}

.header-logo{
  font-size: 30px;
}

.social-info{
  width: 900px;
  display: flex;
  justify-content: space-between;
}
.social-icons{
  width: 200px;
  display: flex;
  justify-content: space-evenly;
}

i[class^='icon-']{
  font-size: 20px;
}
