body{
  background-color: #ccc;
}
#container{
  border: 1px solid #181818;
}
.img-dog{
  width: 300px;
}
.img-racoon{
  width: 200px;
}

.story{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.controlls{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.controlls button{
  background-color: #ffff;
  border: none;
  color: #45464c;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 12px;
  font-size: 12px;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.2), 0 3px 3px 0 rgba(0,0,0,0.19);
}

.controlls button:hover {
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.24), 0 5px 10px 0 rgba(0,0,0,0.19);
}
