body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: #b4dfe945;
}
.content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 900px;
}

.content-top {
  border: 2px solid #909aa6;
  width: 900px;
  height: 450px;
}
.content-bottom {
    display: flex;
    flex-direction: column;
    width: inherit;
    margin-top: 20px;
}
