@font-face {
  font-family: "POLYPTY";
  src: url('../fonts/POLYPTY_.ttf');
}
.menu{
  position: absolute;
  top: 102px;
  width: inherit;
  height: inherit;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "POLYPTY";
  /* font-family: 'Fascinate', cursive; */
}
.menu button{
  width: 280px;
  height: 320px;
  border-radius: 5px;
  text-align: center;
  font-size: 30px;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 0.5em blue, 0 0 0.1em blue;
  box-shadow: 0 5px 3px 0 rgba(0,0,0,0.2), 0 5px 3px 0 rgba(0,0,0,0.19);
}
.menu-header{
  height: 100px;
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  color: #ffff;
  text-shadow: 1px 1px 2px black, 0 0 0.5em blue, 0 0 0.1em blue;
}
.menu-main{
  display: flex;
  width: inherit;
  height: inherit;
  justify-content: space-evenly;
  align-items: center;
}
#level-easy{
  background: url('../images/bakku-runner-easy.png');
  background-position: 14% 40%;
}
#level-medium{
  background: url('../images/bakku-runner-medium.jpg');
  background-position: 26% 40%;
}
#level-hard{
  background: url('../images/bakku-runner-hard.jpg');
  background-position: 26% 40%;
}
