@font-face {
  font-family: "POLYPTY";
  src: url('../fonts/POLYPTY_.ttf');
}
.menu{
  position: absolute;
  /* top: 102px; */
  width: inherit;
  height: inherit;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "POLYPTY";
  background-color: #ffff;
  border-radius: 7px;

}
.menu-header {
  height: 100px;
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  color: #ffff;
  text-shadow: 1px 1px 2px #883f3f, 0 0 0.5em #383748, 0 0 0.1em #676030;
}
.menu-main{
  display: flex;
  width: inherit;
  justify-content: space-evenly;
  align-items: center;
}
div[class^='level-']{
  border-radius: 10px;
  width: 280px;
  height: 320px;
  display: flex;
  justify-content: center;
  box-shadow: 0 5px 3px 0 rgba(0,0,0,0.2), 0 5px 3px 0 rgba(0,0,0,0.19);
}
div[class^='level-'] button{
  font-size: 30px;
  color: white;
  text-shadow: 1px 1px 2px #883f3f, 0 0 0.5em #383748, 0 0 0.1em #676030;
}
.level-easy:hover{
  background: url('../images/bakku-runner-easy.png');
  background-position: 20% 80%;
  background-size: 2500px;
}
.level-easy{
  background: url('../images/bakku-runner-easy.png');
  background-position: 14% 40%;
}
.level-medium{
  background: url('../images/bakku-runner-medium.jpg');
  background-position: 26% 40%;
}
.level-medium:hover{
  background: url('../images/bakku-runner-medium.jpg');
  background-position: 43% 63%;
  background-size: 2000px;
}
.level-hard{
  background: url('../images/bakku-runner-hard.jpg');
  background-position: 26% 40%;
}
.level-hard:hover{
  background: url('../images/bakku-runner-hard.jpg');
  background-position: 43% 50%;
  background-size: 2000px;
}
